# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   Java

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas/Numpy
2.   Scikit-learn
3.   Tensorflow

| Data science tools   |
| ----------- |
| Jupyter notebook      |
| PySpark   |
| RStudio |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
print(f"Convert {minutes} minutes into hours: ", 200/60)

Convert 200 minutes into hours:  3.3333333333333335

# Objectives

*   List popular languages for Data Science
*   List popular tools for Data science
*   List popular libraries, frameworks for data science

## Author

Nguyen Minh Chi